html, body{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

body{
    background-color: #1dacd6;
}

/* navbar */

#navbar, #header-list{
    display: flex;
    justify-content: flex-end;
  
}

#navbar{
    margin: 5px 94%;
    background: transparent;
    position: fixed;
}

#header-list{
    list-style: none;
    margin: inherit;
    padding: inherit;
}

.header-list-item{
    padding: 10px;
}

.header-list-item:nth-child(3){
    margin-right: 0;
}

.nav-active{
    text-decoration: none;
    font-family: 'Indie Flower', cursive;
    font-size: 25px;
    color: #fff;
}

.nav-active:hover{
    color: lightblue;
    transition: all .5s;
}


.divider{
    margin: 10px;
    display: none;
}

/* first section */

#info{
    font-family: 'Indie Flower', cursive;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.name-brand{
    text-align: center !important;
    font-size: 70px;
}

.brand-body{
    font-family: 'Indie Flower', cursive;
    text-align: center !important;
    font-size: 30px;
}


/* projects */

#projects{
    text-align: center;
     margin-bottom: 170px;
}

#list-projects{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}

.image{
    width: 200px;
    border-radius: 15px;
}

#container-show{
    font-family: 'Indie Flower', cursive;
    background-color: #275d71;
    border: none;
    padding: 10px;
    color: #fff;
    font-size: 22px;
    border-radius: 10px;
    margin-top: 55px;
}


.social{
    display: flex;
    flex-direction: row;
    justify-content: center; 
}


.profile-link{
    font-size: 50px;
    margin: 0 15px;

}


.fa-github{
    color: #000;
    width:100%;
}

.fa-twitter{
    background-color: #71c4f7;
    color: #fff;
    padding: 20px;
    border-radius: 100%;
}

.fa-linkedin{
    background-color: #0677b4;
    color: #fff;
    padding: 20px;
    border-radius: 100%;
}
